{
  "appName": "kymc",
  "userGivenName": "kymc",
  "destNamespace": "cc-smarsh-dev",
  "destServer": "ep-mt",
  "srcPath": "apps/kymc/overlays/aws-us-west-2-cc-smarsh-dev",
  "srcRepoURL": "https://github.com/Smarsh/ep-cc-apps-argocd-deployments.git",
  "srcTargetRevision": "",
  "concoursePath": ""
}
